html {
  font-size: 10px;
}

// OUTER LAYOUT : START
.layout {
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: 8rem auto;
  height: 100vh;
  font-size: 1.6rem;
  color: $txt_black;
}

@media screen and (max-width: $mobile) {
  .layout {
    &.home {
    }
  }
}
// OUTER LAYOUT : END

// HEADER : START
.header {
  grid-area: a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  background-color: $bg_white;
  border-right: 0.1rem solid $border_gray1;

  .header-nav {
    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 2rem;
      transform: rotate(180deg);
    }
    &__item {
    }
    &__button {
      writing-mode: vertical-rl;
      text-orientation: use-glyph-orientation;
      // transform: scale(-1, -1);

      &.on {
        color: $txt_primary;
      }
    }
  }
  .header-logo {
    margin-top: 5rem;

    &__link {
    }
    &__img {
    }
  }
}

@media screen and (max-width: $mobile) {
  .header {
  }
}
// HEADER : END

// CONTENT : START
.contents {
  grid-area: b;
  height: 100%;
  overflow: auto;

  .content {
    height: 100%;
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: $mobile) {
  .contents {
  }
}
// CONTENT : END

// FOOTER : START
.footer {
  .footer-copyright {
  }
}

@media screen and (max-width: $mobile) {
  .footer {
  }
}
// FOOTER : END
