// VIEWPORT
$mobile: 738px;

// TEXT COLORS
$txt_black: #111;
$txt_desc1: #555;
$txt_desc2: #777;
$txt_primary: rosybrown;
$txt_second: #b16565;
$txt_highlight: #bb7272;
$txt_alert: red;
$txt_disabled: #ddd;

// BG COLORS
$bg_white: #fff;
$bg_gray1: #eee;

// BORDER COLORS
$border_gray1: #ddd;
